/* Добавляем шрифты */

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Oswald:400,500&display=swap');



/* Обнуляем встроенные стили браузера
    и добавляем размер и центровку обёрток.
*/

html {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.wrap {
    width: 100%;
}

.center {
    width: 1110px;
    margin: 0 auto;
}

/* Стилизуем header */

.header_wrap {
    background-image: url(../img/Rectangle.png);
    background-size: cover;
    background-position: center center;
    height: 80vh;
}

header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 60px;
    height: 60px;
}

.hamburger_menu {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f7654a;
}

/* Стилизуем header banner */

.header-banner {
    text-align: center;
    color: white;
    font-family: 'Oswald';
    font-style: normal;
}

.header-banner h1 {
    margin-top: 110px;
    text-transform: uppercase;
    margin-bottom: 35px;
    font-weight: 500;
    font-size: 64px;
    line-height: 95px;
}

.header-banner p {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
}   

.years {
    background-color: #f7f7f7;
    height: 300px;
    margin-bottom: 100px;
}

.grid_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.years-blocks_center {
    margin-top: -150px;
    height: 300px;
    align-content: center;
}

.years_block {
    height: 186px;
    width: 190px;
    justify-self: center;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
}

.year_one {
    font-size: 72px;
    line-height: 96px;
    color: #f7654a;
}

.year_two {
    font-size: 36px;
    line-height: 53px;
}

.year_three {
    font-size: 18px;
    line-height: 27px;
    color: #999999;
}

/* Стилизуем our projects */

.our_projects {
    font-family: Oswald;
    font-style: normal;
    font-weight: 500;
}

.our_projects h2 {
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 60px;
}

.our_projects_block {
    width: 350px;
}

.our_projects_block h3 {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 20px;
}

.our_projects_line {
    width: 55px;
    height: 5px;
    background-color: #f7654a;
    margin-top: 45px;
    margin-bottom: 15px;
}

.our_projects_block p {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #999999;
}

.our_projects-blocks {
    margin-bottom: 128px;
}

/* Smart projects */

.promo {
    background-color: #f7654a;
    font-family: Oswald;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    height: 180px;
    margin-bottom: 150px;
}

.promo_center {
    display: flex;
    flex-direction: row;
    height: 180px;
}

.promo_block_two {
    width: 50%;
}

.promo_block_one-wrap {
    display: flex;
    align-items: center;
}

.promo_block_two {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.promo_block_one > h2 {
    font-size: 48px;
    line-height: 100%;
    margin-bottom: 12px;
}

.promo_block_one > h3 {
    font-size: 24px;
    line-height: 100%;
}

.promo_button > img {
    width: 18px;
    float: left;
    margin-right: 15px;
}

.promo_button > p {
    font-size: 14px;
    line-height: 21px;
}

.promo_button {
    height: 50px;
    width: 175px;
    background-color: #fff;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* skills */

.skills_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    align-items: center;
    align-self: center  ;
}

.skills {
    font-family: Oswald;
    font-style: normal;
    font-weight: 500;
    text-align: center;
    margin-bottom: 150px;
}

.skills > h2 {
    font-size: 36px;
    line-height: 53px;
    text-transform: uppercase;
    margin-bottom: 65px;
}

.skills_grid-block_wrapper {
    height: 250px;
    width: 350px;
    background-color: #f7f7f7;
    display: flex; 
    align-items: center;
    justify-content: center;
}

.skills_grid-block {
    width: 172px;
    height: 132px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.skills_grid-block > img {
    margin-bottom: 30px;
}

.skills_grid-block > h4 {
    font-size: 18px;
    text-transform: uppercase;
}

/* some banner */

.some-banner {
    height: 814px;
    background-image: url(../img/bg.png);
    background-repeat: repeat;
    margin-bottom: 150px;
}

/* Наши партнёры */

.our-partners_wrap {
    background-color: #404149;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-bottom: 150px;
}

.our-partners > h2 {
    font-family: Oswald;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    text-transform: uppercase;
    color: white;
    text-align: center;
    margin-bottom: 60px;
}

.our-partners_grid > .partner_img{
    justify-self: center;
}

/* вопросы и ответы */

.a-and-q {
    font-family: Oswald;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 150px;
}

.a-and-q > h2 {
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.heading {
    display: flex;
}

.heading > h3 {
    font-size: 24px;
    line-height: 36px;
    color: #f7654a;
    text-transform: uppercase;
}

.arrow-right, .arrow-up {
    margin-right: 15px;
}

.a-and-q_block-one, .a-and-q_block-two {
    margin-bottom: 40px;
}

.a-and-q_block-two > p {
    margin-top: 30px;
    font-family: Open Sans;
    font-size: 16px;
    line-height: 22px;
    color: #999999;
}

/* отзывы */

.reviews_wrap {
    margin-bottom: 150px;
}

.reviews {
    font-family: Oswald;
    font-style: normal;
    font-weight: 500;
}

.reviews > h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 36px;
    line-height: 53px;
    margin-bottom: 60px;
}

.review {
    width: 350px;
    height: 270px;
    background-color: #f7f7f7;
    margin-bottom: 30px;
}

.quotes {
    margin: 30px 0px 0px 30px;
}

.review > p {
    font-family: Open Sans;
    font-size: 14px;
    line-height: 21px;
    color: #999999;
    margin: 30px;
}

.review_block > p {
    font-size: 21px;
    line-height: 31px;
}

.autor {
    color: black;
}

.company {
    color: #f7654a;
}

/* контакты */

.contacts {
    font-family: Oswald;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 150px;
}

.contacts > h2 {
    font-size: 36px;
    line-height: 53px;
    text-transform: uppercase;
    color: black;
    text-align: center;
    margin-bottom: 60px;
}

.adress_block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.adress {
    margin-bottom: 25px;
}

.adress_heading {
    color: #999999;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 25px;
}

.adress_description {
    color: black;   
    font-size: 24px;
    line-height: 36px;
}

/* footer */

.footer_wrap {
    background-color: #404149;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #ffffff;
}

footer {
    display: flex;
    justify-content: space-between;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
}
